* { box-sizing: border-box; }

:root{
	--font-f: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--main-color: #4f8cc4;
	--fg-color: #26507e;

	--button-normal: var(--main-color);
	--bn-border: #213b59;
	--button-clicked: #99bde0;
	--bc-border: #629bce;

	--image-height: 14.5625rem;
}

body{
	margin: 0;
	font-family: var(--font-f);
	height: 100svh;
	background: radial-gradient(#213b59, #16263b) no-repeat;
	background: -webkit-radial-gradient(#213b59, #16263b) no-repeat;
  background: -moz-radial-gradient(#213b59, #16263b) no-repeat;
  background: -o-radial-gradient(#213b59, #16263b) no-repeat;
}

.flex-container{
	display: flex;
}

main{
	height: 100%;
	justify-content: center;
	align-items: center;
}

.carousel{
	flex-direction: column;
	max-width: calc((14.5625rem * 3) + (1.2rem * 2));
	position: relative;
}

.carousel-images{
	justify-content: flex-start;
	align-items: center;
	gap: 1.2rem;
	max-width: 100%;
	max-height: 20rem;
	align-self: flex-start;
	overflow: scroll hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}

.image-item{ 
	min-width: var(--image-height);
	height: 20rem;
	cursor: pointer;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.image-item .image{
	aspect-ratio: 1 / 2;
	object-fit: cover;
	min-width: 100%;
	height: 100%;
	user-select: none;
}

.arrow{
	display: none;
}

.buttons-container{
	justify-content: center;
	align-items: center;
	margin-top: 1.2rem;
}

.button{
	appearance: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: var(--button-normal);
	border: 2px solid var(--bn-border);
	margin: 5px;
}

.button:nth-child(5), .button:nth-child(6){
	display: none;
}

.buttons-container .button:checked{
	background-color: var(--button-clicked);
	border: 2px solid var(--bc-border);
}

.dialog-image{
	border-radius: 2rem;
	padding: 0;
	height: 30rem;
	overflow: hidden;
	opacity: 0;
	transform: scale(0);
	transition: opacity 250ms ease-in, transform 250ms ease-in, box-shadow 500ms ease-in;
	outline: none;
	border: none;
}

.dialog-image.open{
	transform: scale(1);
	opacity: 1;
	box-shadow: 0px 0px 18px white;
}

.dialog-image.open::backdrop{
	background-color: black;
	opacity: .95;
}

.dialog-image img{
	object-fit: cover;
	width: 21.84375rem;  /* (--image-height / 2) + --image-height */
	height: 100%;
}

/* ***media querys*** */

@media only screen and (max-width: 768px){

	.button{
		width: 25px;
		height: 25px;
	}

	.button:nth-child(5), .button:nth-child(6){
		display: inline-block;
	}

	.carousel{
		max-width: calc((14.5625rem * 2) + 1.2rem);
	}

}

@media only screen and (max-width: 480px){

	.buttons-container{ display: none; }

	.carousel{ max-width: 14.5625rem; }

	.arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		display: inline-block;
	}

	#arrow-right{ right: -3rem; }

	#arrow-left{ left: -3rem; }

	.hide-arrow{ display: none; }
}
